<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.framgia.englishconversation">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true"/>

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".screen.main.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".screen.login.LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".screen.register.RegisterActivity"/>
        <activity
            android:name=".screen.forgotPassword.ForgotPasswordActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".screen.editProfile.EditProfileActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <service android:name=".service.FirebaseDownloadService"/>
        <service android:name=".service.FirebaseUploadService"/>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_app_key"/>

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name"/>
        <activity
            android:name=".screen.createPost.CreatePostActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
        <activity
            android:name=".record.AudioRecorderActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="f70b5cb9235d9b64c8a0979b0380433f927aa1b4"/>

        <activity
            android:name=".screen.videoDetail.VideoDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"/>
    </application>

</manifest>
